<div>
	{% url 'Doctor' as Doctor_url %}
	<span>{% if request.path == Doctor_url %}INICIO{% else %}<a href="{% url 'Doctor' %}">INICIO</a>{% endif %}</span>
	<span><a href="{% url 'gestioncomidas' %}">BANQUETES</a></span>
	{% url 'contacto' as contacto_url %}
	<span>{% if request.path == contacto_url %}CONTACTO{% else %}<a href="{% url 'contacto' %}">CONTACTO</a>{% endif %}</span>
	{% url 'acerca' as acerca_url %}
	<span>{% if request.path == acerca_url %}ACERCA{% else %}<a href="{% url 'acerca' %}">ACERCA</a>{% endif %}</span>

</div>